<%= form_for :department_options, method: :patch, class: "form" do |f| %>
  <%= hidden_field :department_options, :department %>

  <%= f.select :degrees, options_for_select(@all_degrees), {}, multiple: true, include_blank: true %>
  <hr/>
  <%= f.submit "Update", class: "btn btn-primary", data: {confirm: 'Are you sure you want to update this department with these degrees?'} %>

  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<%end%>
