.breadcrumbs {
   background-color: rgba(0,0,0,0.05);
   padding: 10px 0;
   margin: 0;

   ul {
      margin: 0;
      padding: 0;
      list-style: none;
   }
   li {
      display: inline-block;
      padding-right: 16px;

      &:before {
         content: "»";
         padding-right: 4px;
      }

      a {
         text-decoration: none;

         &:hover {
            text-decoration: underline;
         }
      }
   }
}

#notice {
   clear: both;
}

.error_message {
   border: 2px solid #B00100;
   color: #B00100;
   padding: 10px;
   margin-bottom: 20px;
   border-radius: 6px;
   ul {
      list-style: none;
   }
}

.notice {
    border: 2px solid #5c5c5c;
    color: #5c5c5c;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
}

#user_list, #degree, #department, #lookup {
   width: 400px;
}

.navbar-brand {
  padding: 10px;
}

.help {
  color: darkgrey;
  padding-left: 2px;
  padding-bottom: 5px;
  font-style: italic;
}

//
// end of file
//