.footer {
	height: 60px;
	background-color: #f5f5f5;

	.muted {
		margin-top: 20px;
	}
}

.error_message {
	border: 2px solid #B00100;
	color: #B00100;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 6px;

	ul {
		list-style: none;
	}
}

.notice {
	border: 2px solid #5c5c5c;
	color: #5c5c5c;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 6px;
}

#user_list {
	height: 300px;
}